{% extends 'base.html' %}

{% block title %}<title>댓 글 쓰 기</title>{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
	.wrap_comment{
		width: 1200px;
        margin: auto;
    }
	.btn{
		float: right;
	}
	th{
		text-align: center;
	}
    .comment {
        margin: 20px 0px 20px 20px;
    }
</style>
{% endblock css %}
{% block content %}
<div class=wrap_comment>
<a href="/article/{{article.pk}}/"><strong>{{ post.comments.count }} 개의 댓글</strong></a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated %}
    <div class="comment">
        <hr>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        <a href="/comment/{{comment.pk}}/delete/">삭제하기</a>
        <a href="/comment/{{comment.pk}}/update/">수정하기</a>
        <p>{{ comment.created_date }}</p>
        <hr>
    </div>
    {% endif %}
    {% empty %}
    <div class="comment-list">
        <div class="alert alert-info">작성 된 댓글이 없습니다.</div>
    </div>
{% endfor %}
<h4>New Comment</h4>
    <form method="post" action="." class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">댓 글 작 성</button></a> 
    </form>
</div>
{% endblock content %}