{% extends 'base.html' %}
{% load i18n %}

{% block title %}<title>로그인</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .registration {
        width: 400px;
        margin: 0 auto;
        margin-top : 250px;
    }
    p {
        text-align: center;
    }
    #logo{
        font-size: x-large;
        font-weight: bold;
        color: #337AB7;
    }
    label {
        width: 50%;
        text-align: left;
    }
    .control-label {
        width: 100%; 
    }
    button {
        width: 100%;
        margin-top: 10px;
    }
</style>
{% endblock css %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="panel panel-default registration">
    <div class="panel-heading">
        <!--{% load staticfiles %}-->
        <p id="logo">Linuxwares</p>
        <!--<img src="/member/static/img/logo.png" alt="Linuxwares"/> 안됨?-->
    </div>
    <div class="panel-body">
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input name="{{ field.html_name }}" id="{{ field.id_for_lable }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                    {% for error in field.errors %}
                        <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">로 그 인</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if request.user.is_authenticated %}
<div class="panel panel-default registration">
    <div class="panel-heading">
        <!--{% load staticfiles %}-->
        <p id="logo">Linuxwares<br>{{user.name}}<br> 환영합니다</p>
        <!--<img src="/member/static/img/logo.png" alt="Linuxwares"/> 안됨?-->
    </div>
    <div class="panel-body">
        <button class="btn btn-primary btn-large" type="button" onclick="location.href='/article/'">게 시 판</button>
    </div>
</div>

{% endif %}
{% endblock content %}