{% extends 'base.html' %}
{% load i18n %}

{% block title %}<title>회원정보</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .registration {
        width: 360px;
        margin: 0 auto;
        margin-top : 100px;
    }
    p {
        text-align: center;
    }
    #logo{
        font-weight: bold;
        font-size: x-large; 
        color: #337AB7; 
    }
    label {
        width: 50%;
        text-align: left;
    }
    .control-label {
        width: 100%;
    }
    .panel-body  button {
        width: 100%;
        margin-top: 10px;
    }
</style>
{% endblock css %}

<!--{% load staticfiles %}-->
{% block content %}
<div class="panel panel-default registration">
    <div class="panel-heading">
        <p id="logo">Linuxwares</p>
    </div>
    <div class="panel-body">
        <form action="." method="post">
         
            <button class="btn btn-primary btn-large" type="submit">회 원 탈 퇴</button><br>
        </form>
    </div>
</div>
{% endblock content %}

